@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dongle:wght@300;400;700&family=Inconsolata:wght@300;400&family=Inter&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Luxurious+Roman&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mouse+Memoirs&family=Neonderthaw&family=Nunito:wght@200;300&family=Open+Sans:wght@300&family=Playfair+Display&family=Roboto:wght@300;400&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.list-menu-mobile {
  @apply absolute left-0 top-14 w-full z-50 
  p-5
  bg-white shadow-lg rounded-lg animate-down;
}

.menu-item {
  @apply cursor-pointer 
  py-1 
  hover:text-[#292524] 
  relative after:absolute 
  lg:after:bg-[#292524] 
  after:bottom-0 after:left-0  after:w-0  
  hover:after:w-full 
  after:h-0.5 after:transition-all after:duration-700;
}
.icon {
  @apply inline-block w-5 h-5;
}
.bg-slider {
  @apply bg-cover bg-center bg-no-repeat;
}
.read-more-story {
  @apply cursor-pointer 
  py-1 
  hover:text-[#292524] 
  relative after:absolute 
  after:bg-orange-400
  after:bottom-0 after:left-0  after:w-full 
  hover:after:w-0
  after:h-0.5 after:transition-all after:duration-700 after:ease-in-out;
}
